h1{
    font-size:xx-large;
    font-weight: 500;
    text-align: center;
    color: white;

}

form{
    background-color: grey;
    padding: 10px;
    padding: 30px;
    height: 800;
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
}
input{
    align-content: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    height: 20px;
    width: 200px;
     
}

.submit-container{
    text-align: center;
    padding: 30px;
}

button{
    font-weight: 30;
    border-radius: 10px; 
    background-color: black;   
    width: 150px;
    height: 30px;
    color: white;
} 

.heading{
    background-color: black ;
    border-radius: 30px;
}

.login-container{
    padding: 50px;
    
}

p{
    font-size: small;
    color:red;
}